#wrap{
    margin: 50px;
}
.scssBox{
    width: 100%;
    padding: 20px;
    background: #ddd;
    margin-bottom: 20px;
}
//변수
$main-color: #4a6cf7;
$sub-color: #f74a6c;
$padding-size: 20px;

.box{
    background: $main-color;
    padding: $padding-size;
}

//중첩
.card{
    padding: $padding-size;
    background: #00ffbf;
    .title{

    }
    .desc{
        color: $sub-color;
    }
}
//hover등등 상태
.btn{
    padding: 12px 20px;
    background: #333;
    color: #fff;
    border: none;
}