/* nav{
    width: 100%;
    background: #fff;
    border-bottom: 1px solid #ddd;
    height: 80px;
}
nav .bg{
    width: 100%;
    height: 230px;
    background: yellowgreen;
    position: absolute;
    top: 80px;
    display: none;
}
nav:hover .bg{
    display: block;
}
nav>ul{
    display: flex;
    justify-content: center;
    height: 100%;
    align-items: center;
}
nav>ul>li{
}
nav>ul>li>a{
    text-decoration: none;
    color: #333;
    transition: .3s;
    display: block;
    padding: 10px 20px;
}
nav>ul>li:hover>a{
    color: red;
}
nav>ul>li>ul{
    display: none;
}
nav:hover>ul>li>ul{
    display: block;
    position: absolute;
    top: 80px;
    width: 126.14px;
}
nav>ul>li>ul>li{
    text-align: center;
    width: 100%;
}
nav>ul>li>ul>li>a{
    display: block;
    padding: 20px 0;
    text-decoration: none;
    color: #fff;
}
nav>ul>li>ul>li>a:hover{
    text-decoration: underline;
    font-size: 20px;
    font-weight: bold;
} */

nav{
    border-bottom: 1px solid #000;
    background: rgb(166, 255, 131);
    width: 100%;
    height: 60px;
}
nav .bg{
    width: 100%;
    height: 230px;
    background: rgb(227, 255, 171);
    position: absolute;
    top: 60px;
    display: none;
}
nav:hover> .bg{
    display: block;
}
nav>ul{
    display: flex;
    justify-content: center;
    height: 100%;
    align-items: center;
}
nav>ul>li{}
nav>ul>li>a{
    text-decoration: none;
    color: black;
    padding: 20px;
}
nav>ul>li>ul{
    display: none;
}
nav:hover>ul>li>ul{
    display: block;
    position: absolute;
    top: 60px;
    width: 126.14px;
/*     text-align: center;
    line-height: 50px; */
}
nav>ul>li>ul>li>a{
    display: block;
    text-align: center;
    padding: 20px 0;
    text-decoration: none;
    color: black;
}

nav>ul>li>ul>li>a:hover{
    color: black;
    background: rgb(166, 255, 131);
    border-radius: 50px;
    opacity: 50%;
}