a{
    text-decoration: none;
    color: #000;
}
nav{
    background: skyblue;
    padding: 20px 0;
}
nav>ul{
    display: flex;
    justify-content: center;
}
nav>ul>li{
    position: relative;
}
nav>ul>li>a{
    color: #fff;
    font-weight: bold;
    padding: 20px 20px;
    text-transform: uppercase;
}
nav>ul>li>ul{
    display: none;
    position: absolute;
    width: 100%;
    top: 36px;
    background: skyblue;
    text-align: center;
}
nav>ul:hover>li>ul{
    display: block;
}
nav>ul>li>ul>li{
    transition: .5s;
}
nav>ul>li>ul>li:hover{
    background: rgb(255, 255, 255);
}
nav>ul>li>ul>li>a{
    display: block;
    padding: 20px;
    color: #000;
}
nav>ul>li>ul>li>a:hover{
    color: #000;}