a{
    text-decoration: none;
    color: #000;
}
#wrap{
    width: 100%;
    height: 100%;
}
header{
    width: 300px;
    height: 100vh;
    border-right: 1px solid #ccc;
}
h1{
    text-align: center;
    padding: 30px;
}
h1 a{
    font-size: 30px;
    font-weight: bold;
    text-transform: uppercase;
}
nav{
    margin-top: 50px;
}
nav>ul{
    border-top: 1px solid #ccc;
}
nav>ul>li{
    border-bottom: 1px solid #ccc;
    position: relative;
}
nav>ul>li>a{
    padding: 20px;
    display: block;
    text-align: center;
}
nav>ul>li>ul{
    display: none;
    position: absolute;
    top: 0;
    left: 301px;
}
nav>ul>li:hover>ul{
    display: block;
    width: 300px;
    background: rgb(188, 255, 188);
}
nav>ul>li>ul>li{
    text-align: center;
}
nav>ul>li>ul>li>a{
    display: block;
    padding: 20px;
}